/* about css */
:root {
  --background-color: #CDDDDC;
  --text-header: #003049;
  --text-header-2: #025884;
  --footer-color: #D3F4FB;
  --text-simple: #8C9A9E;
  --color-blue-1: #54b4c4;
  --color-blue-2: #72E3F5;
  --shadow-color-1: rgba(0, 0, 0, 0.05);
}
* { box-sizing: border-box;}
.container{
  margin: 0 auto;
  width: 80%;
}
body{
  background-color: #fff;
  color: #34495e;
}
p{
  text-align: justify;
}
#main{
  margin-top: 10vh;
}
.header h1{
  text-align: center;
}
.column{
 display: inline-block;
 float: left;
 width: 33%;
 padding: 0 20px;
 border-style: solid;
 border-width: 0.5px;
 border-color: lightblue;
 border-radius: 2px;
 height: 300px;
}
.main-text{
  padding: 60px 40px 60px 40px;
  clear: both;
}
.image{

}
.image img{
  position: relative;
  top: 30%;
  bottom: 0;
  width: 100%;
}
#skill-list{
  margin-left: 2%;
}
.skill, .intro, .image{
  background-color: var(--color-blue-1);
  color: #fff;
}
/* typography */
h1,h2,h3{
  font-family: Futura, Helvetica, Arial, sans-serif;
}
p,li{
  font-family: 'Montserrat', sans-serif;
}
.intro p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 100;
  -webkit-margin-before: 0;
}
.skills h3{
  text-align: center;
  text-transform: uppercase;
}
