:root {
  --background-color: #CDDDDC;
  --text-header: #003049;
  --text-header-2: #025884;
  --footer-color: #D3F4FB;
  --text-simple: #8C9A9E;
  --color-blue-1: #54b4c4;
  --color-blue-2: #72E3F5;
  --shadow-color-1: rgba(0, 0, 0, 0.05);
  --nav-color-1: #385F71;
  --nav-color-2: #2AF9A3;
}
body{
  padding-bottom: 50px;
}
#header{
  box-shadow: 0px 5px var(--shadow-color-1);
}
#contact{
  text-align: center;
}
#contact .btn{
  width: 50%;
}
.readMore{
  position: absolute;
  max-width: 50%;
  margin: auto;
  margin-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
.jumbotron{
  background-image: url("../img/background_01.jpg");
  background-size: cover;
  background-color: var(--background-color);
}
.jumbotron p{
  color: var(--text-header-2);
}
.btn{
  background-color: var(--color-blue-2);
  border-style: none;
}
.btn:hover{
  background-color: var(--color-blue-1);
}
.textHeader-color{
  color: var(--text-header);
}
.centered{
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../img/background_01.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: var(--text-header);
  font-size: 12px;
  text-align: right;
  padding: 0px 25px 0px 25px;
}
